p,head{
	font-size:10px;
	text-align:center;
	}

#para1{
	
	color:black;
	font-size:20px;
	}
.class1{
	font-size:20px;
	text-align:center;
	color:blue;
	}
h2.class1{
	font-size:30px;
	}


p.center{text-align:center;
	color:cyan;
	}
p.large{font-size:300%;
	color:black;}
